{% extends "admin.layout.layout-clean" %}

{% block title %}Wallet{% endblock title %}

{% block content %}
    <div class="card col-8 m-auto pt-4 mt-4 mb-4">
        <div class="card-header deep-orange lighten-1 white-text">
            Wallet
        </div>
        <div class="card-body">

            <div class="table-responsive">

                <table class="table product-table">
                    <thead>
                    <tr>
                        <th>Wallet</th>
                        <th>Tokens</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for wallet in wallet_tokens %}
                        <tr>
                            <td>{{ wallet.type.name }}</td>
                            <td>{{ wallet.tokens }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card col-8 m-auto pt-4 mt-5">
        <div class="card-header deep-orange lighten-1 white-text">
            Orders
        </div>
        <div class="card-body">

            <div class="table-responsive">

                <table class="table product-table">
                    <thead>
                    <tr>
                        <th>Order Ref</th>
                        <th>Status</th>
                        <th>Tokens Purchased</th>
                        <th>Tokens Spent</th>
                        <th>Cost</th>
                        <th>Payment Reference</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr {% if order.status.handle == 'draft' %}class="table-warning"{% endif %}>
                            <td><b>{{ order.uuid }}</b></td>
                            <td><b>{{ order.status.name }}</b></td>
                            <td></td>
                            <td></td>
                            <td><b>{{ order.adjusted_total_price|price }}</b></td>
                            <td>
                                <b>
                                {% if order.status.handle == 'draft' %}
                                    <a class="btn btn-primary" href="{{ route('order-checkout', [order.uuid]) }}">Pay now</a>
                                {% else %}
                                    {{ order.payment_gateway_reference }}
                                {% endif %}
                                </b>
                            </td>
                        </tr>
                        <tr {% if order.status.handle == 'draft' %}class="table-warning"{% endif %}>
                            <td colspan="6" class="p-0 m-0 pb-3">
                                <table class="table product-table m-0 p-0">
                                    <tbody>
                                    {% for order_item in order.items %}
                                        <tr>
                                            <td class="border-0">{{ order_item.product.name }}</td>
                                            <td class="border-0">{{ order_item.tokens_total }}</td>
                                            <td class="border-0">{{ order_item.tokens_spent }}</td>
                                            <td class="border-0">{{ order_item.adjusted_total_price|price }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock content %}