<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shopping Cart - Basket</title>
    <script src="https://code.jquery.com/jquery-2.2.4.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>


    <style>
        @import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);

        * {
            box-sizing: border-box;
        }

        html,
        body {
            width: 100%;
            height: 100%;
            padding: 10px;
            margin: 0;
            background-color: #7EC855;
            font-family: 'Roboto', sans-serif;
        }

        .main {
            width: 750px;
            margin: 80px auto;
            background: #FFFFFF;
            box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.10);
            border-radius: 6px;
        }

    </style>
</head>
<body>

    <div class="main">
        <a href="{{ route('manage.products.create') }}" class="btn btn-primary float-right">Create</a>
        <div class="clearfix"></div>
        <table class="table table-striped table-responsive col-12">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description|truncate(50) }}</td>
                    <td>{{ product.total_price|price }}</td>
                    <td>
                        <a href="{{ route('manage.products.edit', [product.id]) }}">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</body>
</html>